.slider-center{
    width: 100%;
    
    flex-basis: 80%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}

.slider-center:hover{

    background-color: rgba(0, 0, 0, 0.288);
    cursor: pointer;
}

.hidden-until-hover{

    display: none;
}

.text-is-shown{

    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    line-height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.event-title{
    text-align: center;
}

.event-description{
    text-align: center;
}

.event-container{
    width:fit-content;
    flex-basis: 100%;
    height: 500px;
    margin: 0px;
    padding: auto;
    justify-content: space-between;
    object-fit: contain;
    display: flex;
}

.event-button-left {

    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0);
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0px 2px #000000;
}

.event-button-left:hover {

    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.429);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.event-button-right {

    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0);
    border-color: rgb(255, 255, 255);
    border-width: 0px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0px 2px #000000;
}

.arrow-border{

    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.326);
    border-style: dotted;
    font-size: 45px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 2px;
}

.event-button-right:hover {

    
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.429);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.left-side{

    flex-basis: 10%;
    align-content: flex-start;
}
.right-side{

    flex-basis: 10%;
    align-content: flex-end;
}

.center{
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-event-button{
    width: 100%;
    height: 10%;
}

.event-link{

    width:100%;
    height: 100%;
}