
<p class="center">{{currEventIndex}}</p>
<div class="event-container">
    
    <div class="left-side">
        <button (click)="eventSelector('Left')" class="event-button-left">Left</button>
    </div>

    <div class="center">
        
        <img class= "slider-image" src = "{{eventArray[currEventIndex].imageUrl}}">
        <button class="view-event-button">
            <a href="{{eventArray[currEventIndex].buttonLink}}">See Event</a>
        </button>
    </div>
    <div class="right-side">
        <button (click)="eventSelector('Right')" class="event-button-right">Right</button>
    </div>
    
</div>