
<div class="group-container">

    <div 
    class="event-container" 
    [style.background-image]="'url(' + groups[currGroupIndex].groupEvents[currEventIndex].imgUrl + '), url(https://wallpaperaccess.com/full/4214425.png)'"
    [style.background-repeat]="'no-repeat'"
    [style.background-position]="'center'"
    [style.background-size]="'auto 100%, cover'"
    >
        
        <div class="left-side">
            <button (click)="eventSelector('Left')" class="event-button-left"><div class="arrow-border">&#8592;</div></button>
        </div>

        <div class= "slider-center" (click)="goToLink(groups[currGroupIndex].groupEvents[currEventIndex].link)" (mouseenter)="showEventText()"
        (mouseleave)="closeEventText()">
            <div [ngClass]="eventTextIsHidden ?  'hidden-until-hover' : 'text-is-shown'">
                <h1 class="event-title">{{groups[currGroupIndex].groupEvents[currEventIndex].title}}</h1>
                <p class="event-description">{{groups[currGroupIndex].groupEvents[currEventIndex].desc}}</p>
            </div>
        </div>
        

        <div class="right-side">
            <button (click)="eventSelector('Right')" class="event-button-right"><div class="arrow-border">&#8594;</div></button>
        </div>
        
    </div>
    <div class="group-selection">
        <h1 class="group-header">{{groups[currGroupIndex].name}} </h1>
        <button class="group-button-up" (click)="groupSelector('Up')">Up</button>
        <ul>
            <li *ngFor="let group of groups" class="category-item" (click)="setGroup(group.name)"> {{group.name}} </li>
        </ul>
        <button class="group-button-down" (click)="groupSelector('Down')">Down</button>
    </div>
</div> 