.groupContainer {
    margin-top:10px;
    background-color:green;
    width:80%;
    height: 20%;
    margin-right:auto;
    margin-left:auto;
}

.groupButtonUp {
    display:block;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}

.groupButtonDown {
    display:block;
    width:30%;
    margin-left:auto;
    margin-right:auto;
}