<div class="navBar">
  <div class="left-side">
    <img src="assets/mankey.png" class="logo">
    <div class="navbar-spacer"></div>
    <h1 class="navBarHeader">
      Mission Ave.
    </h1>
  </div>
  
  <ul class="navBarLinkContainerList">
    <li class="navBarLinkContainer">
      <a class="navBarLink" routerLink="/home"
        routerLinkActive="active">Home</a>
    </li>
    <li class="navBarLinkContainer">
      <a class="navBarLink" routerLink="/about"
        routerLinkActive="active">About</a>
    </li>
    <li class="navBarLinkContainer">
      <a class="navBarLink" routerLink="/login"
        routerLinkActive="active">Login</a>
    </li>
    <li class="navBarLinkContainer">
      <a class="navBarLink" routerLink="/groups"
        routerLinkActive="active">Groups</a>
    </li>
  </ul>
</div>
